.card-img{
    height: 100%;
}
.
.info{
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;

}
.card-img-overlay{
    position: absolute;
    /*top: 60%;*/
    font-size: 1rem;
    display: inline-block;
}
 body{
    background-color: #f4f4f2;
}
.no-gutters{
    color: black;
    font-size: 1.3rem;

}
.nav{
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 1px;
}
.nav-link{
    color:black;
    padding-right: 3rem;
}
.nav-link:hover{
    color: white;
    background-color:blue;
}
.nav2 li{
    display: inline;
    padding-right: 1rem;
}
