.card-img{
    height: 100%;
}
.
.info{
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;

}
.card-img-overlay{
    position: absolute;
    /*top: 60%;*/
    font-size: 1rem;
    display: inline-block;
}
 body{
    background-color: #f4f4f2;
}
.no-gutters{
    color: black;
    font-size: 1.3rem;

}
.nav{
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 1px;
}
.nav-link{
    color:black;
    padding-right: 3rem;
}
.nav-link:hover{
    color: white;
    background-color:blue;
}
.nav2 ul{
    padding-inline-start: 0;
    text-align: left;

}
.nav2 li{
    display: inline;
    padding-right: 1rem;
}
.nav2 a{
    color: #666666;
}
.max-height-1{
    max-height: 150px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.max-height-2{
    max-height: 300px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.max-height-3{
    max-height: 450px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.carousel-item img{
    max-width: 100%;
}
.category{
    border-top-style:solid;
    border-top-color:purple;
    border-top-width:1px;
}
.category li{
    display: inline;
    padding-right: 1rem;

}
.category ul{
    padding-inline-start: 0;
}
.category a{
    color: #666666;
}
.category h5 a{
    color: purple;
}
.category a:hover{
    color: purple;
}

